#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>

/* Marker layers only used by processors */
#define L_FAST 31
#define L_SLOW 30

/* Mouse movement */
&mmv_input_listener {
    fast { layers = <L_FAST>; input-processors = <&zip_xy_scaler 3 2>; process-next; };  /* ×1.5 */
    slow { layers = <L_SLOW>; input-processors = <&zip_xy_scaler 1 2>; process-next; };  /* ×0.5 */
};

/* Scroll */
&msc_input_listener {
    fast { layers = <L_FAST>; input-processors = <&zip_scroll_scaler 3 2>; process-next; };
    slow { layers = <L_SLOW>; input-processors = <&zip_scroll_scaler 1 2>; process-next; };
};
