/*
 * Sofle keymap
 * Based on your original repo, modified to add timerless-ish mirrored home row mods
 * without using urob's helper macros so Keymap Editor can parse it.
 *
 * Changes from your original:
 * - Added two custom hold-tap behaviors (hml, hmr) that behave like urob's "timeless HRM":
 *     Left hand A/S/D/F become GUI/ALT/CTRL/SHIFT when held
 *     Right hand J/K/L/; become SHIFT/CTRL/ALT/GUI when held
 *   These are tuned to:
 *     - long tapping-term so normal typing doesn't accidentally hold
 *     - trigger the "hold" side (the modifier) when you chord something
 *       from the *other hand*
 *
 * - Updated ONLY the home row section in default_layer to use &hml / &hmr.
 *
 * Everything else is left as close to your current file as possible:
 * - num, nav, sys layers untouched
 * - combos untouched
 * - encoders untouched
 * - toggles (&tog 1 / &tog 2) untouched for now
 *
 * You can flash this using Keymap Editor.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/* Pointer tuning from your file */
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20

/* Encoder tuning from your file */
&sensors {
    triggers-per-rotation = <30>;
};

&left_encoder {
    steps = <60>;
};

&right_encoder {
    steps = <60>;
};

/* Your original global &mt tweaks */
&mt {
    flavor = "balanced";
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    tapping-term-ms = <250>;
};

/*
 * -----------------------------------------------------------------------------
 * Timerless-style Home Row Mods (plain devicetree version)
 * -----------------------------------------------------------------------------
 *
 * We define two explicit behaviors:
 *   hml = left-hand home row mod
 *   hmr = right-hand home row mod
 *
 * Both are zmk,behavior-hold-tap with:
 *  - flavor = "balanced"
 *  - long tapping-term (500ms)
 *  - require-prior-idle-ms (200ms)
 *  - hold-trigger-on-release
 *  - hold-trigger-key-positions = <...>
 *
 * The big trick:
 *    For LEFT-hand keys (A/S/D/F),
 *      we want them to become modifiers ONLY when you chord with the RIGHT hand.
 *    For RIGHT-hand keys (J/K/L/;),
 *      we want them to become modifiers ONLY when you chord with the LEFT hand.
 *
 * We hardcode those position lists right here based on Sofle matrix indices.
 *
 * NOTE:
 * These position lists intentionally do NOT include the encoder press switches,
 * so clicking your knobs won't accidentally force a hold.
 */

 / {
    behaviors {
        /*
         * Left-hand home row mod behavior
         * - Tap sends the normal key
         * - Hold sends the modifier
         * - It only "commits" to the hold (modifier)
         *   if you press/release something from the RIGHT hand.
         */
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML_TIMERLESS";
            #binding-cells = <2>;

            flavor = "balanced";
            tapping-term-ms = <500>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <200>;
            hold-trigger-on-release;

            /*
             * Positions considered "other hand" for LEFT hand keys
             * = all RIGHT-hand alphas/thumbs/etc. on Sofle.
             *
             * Right side matrix indices:
             * RN0 6 RN1 7 RN2 8 RN3 9 RN4 10 RN5 11
             * RT0 18 RT1 19 RT2 20 RT3 21 RT4 22 RT5 23
             * RM0 30 RM1 31 RM2 32 RM3 33 RM4 34 RM5 35
             * RB0 44 RB1 45 RB2 46 RB3 47 RB4 48 RB5 49
             * RH0 55 RH1 56 RH2 57 RH3 58 RH4 59
             */
            hold-trigger-key-positions = <
                6 7 8 9 10 11
                18 19 20 21 22 23
                30 31 32 33 34 35
                44 45 46 47 48 49
                55 56 57 58 59
            >;

            /* First binding is the "hold" behavior (modifier),
             * Second binding is the "tap" behavior (normal key).
             * We'll supply those per-key in the layer as &hml MOD KEY
             */
            bindings = <&kp>, <&kp>;
        };

        /*
         * Right-hand home row mod behavior
         * Same idea, but flipped:
         * It only turns into a "hold" mod if you chord with LEFT-hand keys.
         */
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_TIMERLESS";
            #binding-cells = <2>;

            flavor = "balanced";
            tapping-term-ms = <500>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <200>;
            hold-trigger-on-release;

            /*
             * Positions considered "other hand" for RIGHT hand keys
             * = all LEFT-hand alphas/thumbs/etc. on Sofle.
             *
             * Left side matrix indices:
             * LN5 0 LN4 1 LN3 2 LN2 3 LN1 4 LN0 5
             * LT5 12 LT4 13 LT3 14 LT2 15 LT1 16 LT0 17
             * LM5 24 LM4 25 LM3 26 LM2 27 LM1 28 LM0 29
             * LB5 36 LB4 37 LB3 38 LB2 39 LB1 40 LB0 41
             * LH4 50 LH3 51 LH2 52 LH1 53 LH0 54
             */
            hold-trigger-key-positions = <
                0 1 2 3 4 5
                12 13 14 15 16 17
                24 25 26 27 28 29
                36 37 38 39 40 41
                50 51 52 53 54
            >;

            bindings = <&kp>, <&kp>;
        };

        /*
         * You already had a caps word behavior called "caps".
         * Keeping it exactly.
         */
        caps: caps {
            compatible = "zmk,behavior-caps-word";
            label = "CAPS";
            #binding-cells = <0>;
            continue-list = <>;
        };
    };

    /*
     * Your original conditional_layers node
     */
    conditional_layers {
        compatible = "zmk,conditional-layers";
    };

    /*
     * Your original macros block, unchanged
     */
    macros {
        fhv: fhv {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &none
                &kp A
                &kp J
                &kp M
                &kp N8
                &kp N5
                &kp N1
                &kp N1
                &kp N1
                &kp RET
                &kp LS(B)
                &kp N3
                &kp N
                &kp T
                &kp N0
                &kp N
                &kp LS(W)
                &kp N3
                &kp S
                &kp T
                &kp N4
                &kp N2
                &kp N0
                &kp DLLR
                &kp DLLR
            >;
            label = "FHV";
        };
    };

    /*
     * Your original combos block, unchanged
     */
    combos {
        compatible = "zmk,combos";

        enter {
            bindings = <&kp RET>;
            key-positions = <27 28>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <25 26>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <26 27>;
        };

        del {
            bindings = <&kp DEL>;
            key-positions = <26 27 28>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <25 26 27>;
        };

        fv {
            bindings = <&fhv>;
            key-positions = <26 27 28 25 54>;
        };
    };

    /*
     * Keymap layers
     */
    keymap {
        compatible = "zmk,keymap";

        /*
         * LAYER 0: default_layer
         *
         * ONLY CHANGE in this layer:
         *   Home row now uses &hml / &hmr to get mirrored mods.
         *   Everything else is exactly what you had.
         *
         * Mapping:
         *   A = tap 'a', hold Left GUI
         *   S = tap 's', hold Left Alt
         *   D = tap 'd', hold Left Ctrl
         *   F = tap 'f', hold Left Shift
         *
         *   J = tap 'j', hold Right Shift
         *   K = tap 'k', hold Right Ctrl
         *   L = tap 'l', hold Right Alt
         *   ; = tap ';', hold Right GUI
         *
         * G and H remain normal so there's a "break" in the middle.
         */

        default_layer {
            display-name = "Base";

            bindings = <
                /* Row 1 group from your file */
                &sk LS(LC(LALT))
                &kp N1 &kp N2 &kp N3 &kp N4 &kp N5
                &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
                &mt MINUS EQUAL

                /* Row 2 from your file (QWERTY top row) */
                &gresc
                &kp Q &kp W &kp E &kp R &kp T
                &kp Y &kp U &kp I &kp O &kp P
                &mt SQT DQT

                /* Row 3: THIS is the modified home row */
                &mt LCTRL TAB

                /* left hand A/S/D/F become mods on hold */
                &hml LGUI A
                &hml LALT S
                &hml LCTRL D
                &hml LSFT F

                /* G stays normal */
                &kp G

                /* H stays normal */
                &kp H

                /* right hand J/K/L/; become mods on hold */
                &hmr RSFT J
                &hmr RCTRL K
                &hmr RALT L
                &hmr RGUI SEMI

                /* you had this as &mt RIGHT_PARENTHESIS LEFT_PARENTHESIS */
                &mt RIGHT_PARENTHESIS LEFT_PARENTHESIS

                /* Row 4 from your file */
                &kp LG(L)
                &kp Z &kp X &kp C &kp V &kp B
                &kp C_MUTE &kp C_PLAY_PAUSE
                &kp N &kp M &kp COMMA &kp DOT
                &mt SLASH QUESTION
                &mt RIGHT_BRACKET LEFT_BRACKET

                /* Thumbs / layer toggles from your file */
                &tog 1 &tog 2 &kp LEFT_ALT
                &mt LSHFT SPACE
                &mt LEFT_GUI RET
                &kp ENTER &kp SPACE &kp BACKSPACE
                &mkp MB4 &mkp MB5
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN
            >,
            <
                &inc_dec_kp PAGE_DOWN PG_UP
            >;
        };

        /*
         * LAYER 1: num
         * unchanged from your file
         */
        num {
            display-name = "Number";

            bindings = <
                &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6
                &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12

                &kp GRAVE &kp SLASH &kp N7 &kp N8 &kp N9 &kp EQUAL
                &kp PG_UP &kp PG_DN &mkp MB4 &mkp MB5
                &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS
                &kt LSHFT

                &kp ASTRK &kp NUMBER_4 &kp N5 &kp NUMBER_6 &kp MINUS &kp DOWN
                &kp LEFT &kp RIGHT &kp UP &kp LBKT &kp RBKT &trans

                &kp N0 &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &kt DOT &trans &trans
                &kp ESC &kp HOME &kp END &kp TAB
                &kp LS(LBRC) &kp LS(RBRC)

                &tog 1 &trans &trans &trans &trans &trans &trans &trans &trans &trans
            >;

            sensor-bindings = <
                &inc_dec_kp LC(TAB) LC(LS(TAB))
            >;
        };

        /*
         * LAYER 2: nav
         * unchanged from your file
         */
        nav {
            display-name = "Nav";

            bindings = <
                &trans &trans &trans &trans &trans &trans
                &tog 0 &tog 1 &tog 2 &tog 3 &trans &trans

                &kp ESC &kp HOME &kt LALT &kp END &kp PG_UP &kp PG_UP
                &trans &trans &trans &trans &trans &trans

                &kp TAB &kp DOWN &kp LEFT &kp RIGHT &kp UP &kp PG_DN
                &msc SCRL_UP &mmv MOVE_UP &msc SCRL_DOWN &msc SCRL_LEFT &trans &trans
                &tog 2

                &kp LG(Z) &kp LG(X) &kp LG(C) &kp LG(V)
                &trans &trans &trans
                &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &msc SCRL_RIGHT
                &trans &trans &trans &trans &trans &trans &trans

                &mkp LCLK &mkp RCLK &mkp MCLK &mkp MB4 &mkp MB5
            >;

            sensor-bindings = <
                &inc_dec_kp C_AC_ZOOM_IN C_AC_ZOOM_OUT
            >;
        };

        /*
         * LAYER 3: sys
         * untouched from your file
         */
        sys {
            display-name = "System";

            bindings = <
                &bt BT_CLR_ALL &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
                &out OUT_USB &out OUT_BLE &out OUT_TOG
                &trans &trans &trans &trans &trans &trans &trans &trans
                &studio_unlock
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &tog 3
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};
