manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: urob
      url-base: https://github.com/urob

  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main        # can be swapped to the exact branch/tag urob uses
      import: app/west.yml

    - name: zmk-helpers
      remote: urob
      revision: main        # pulls urob/zmk-helpers

  self:
    path: config
